<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Title</title>
</head>
<body>
  <h1>Kotlin Application</h1>

  <h2>SimpleService</h2>
  <p>simpleServiceClassName: <span th:text="${simpleServiceClassName}"></span></p>
  <p>simpleServiceTemplateValue: <span th:text="${simpleServiceTemplateValue}"></span></p>

  <h2>TransactionService</h2>
  <p>transactionServiceClassName: <span th:text="${transactionServiceClassName}"></span></p>
  <p>transactionServiceTemplateValue: <span th:text="${transactionServiceTemplateValue}"></span></p>
</body>
</html>